*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #0141c1;
}
::before,
::after {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    liberation mono, courier new, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
ul {
  list-style-type: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration-line: none;
}
html {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--main-color);
}
svg {
  height: 15px;
  width: 15px;
  fill: currentColor;
}
img.svg {
  height: 15px;
  width: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: var(--dark-color);
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
@media (max-width: 1600px) {
  body {
    font-size: 16px;
    line-height: 30px;
  }
  .tm_content {
    max-width: 1000px;
  }
  .elisc_tm_sidebar {
    width: 300px !important;
  }
  .elisc_tm_mainpart {
    padding-left: 300px !important;
  }
  .elisc_tm_sidebar .author {
    padding-top: 30px;
  }
  .elisc_tm_sidebar .author .image {
    width: 77px;
  }
  .elisc_tm_sidebar .name .back {
    font-size: 18px;
    width: 100% !important;
  }
}
.elisc_tm_sidebar .\!name .back {
  font-size: 18px;
  width: 100% !important;
}
.elisc_tm_sidebar .name span {
  font-size: 50px;
  width: 100% !important;
}
.elisc_tm_sidebar .\!name span {
  font-size: 50px;
  width: 100% !important;
}
.elisc_tm_sidebar .menu ul li {
  margin-bottom: 9px;
}
.elisc_tm_sidebar .copyright {
  bottom: 30px;
}
.elisc_tm_sidebar .social ul li a {
  height: 30px;
  width: 30px;
}
.elisc_tm_sidebar .social {
  margin-bottom: 2px;
}
.elisc_tm_sidebar .author .image {
  margin-bottom: 5px;
}
.elisc_tm_home .title h3,
.elisc_tm_home .title span {
  font-size: 40px;
  line-height: 60px;
}
.elisc_tm_home .buttons {
  margin-bottom: 60px;
}
.elisc_tm_home .subtitle {
  margin-bottom: 30px;
}
.elisc_tm_home .info ul li a {
  font-size: 16px;
}
.elisc_tm_home .\!info ul li a {
  font-size: 16px;
}
.elisc_tm_biography .text p {
  margin-bottom: 20px;
}
.elisc_tm_biography .info ul li {
  margin-right: 20px;
}
.elisc_tm_biography .\!info ul li {
  margin-right: 20px;
}
.elisc_tm_biography .title .mini {
  margin-bottom: 5px;
}
.elisc_tm_biography .name {
  font-size: 35px;
}
.elisc_tm_biography .\!name {
  font-size: 35px;
}
.elisc_tm_biography .job {
  font-size: 17px;
}
.elisc_tm_biography .title {
  margin-bottom: 30px;
}
.elisc_tm_counter ul li .list_inner {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
/* } */
.elisc_tm_counter h3 {
  margin-bottom: 3px;
}
@media (max-width: 1600px) {
  .elisc_tm_counter h3 {
    font-size: 35px;
  }
  .elisc_tm_title h3 {
    font-size: 35px;
  }
  .elisc_tm_title span {
    margin-bottom: 4px;
  }
  .elisc_tm_experience .list ul li .list_inner {
    padding: 40px;
    box-shadow: 11px 13px 20px !important;
    border-radius: 20px !important;
  }
  .elisc_tm_experience .\!list ul li .list_inner {
    padding: 40px;
  }
  .elisc_tm_experience .job h3 {
    font-size: 19px;
  }
  .elisc_tm_experience .job span {
    margin-bottom: 3px;
  }
  .service_list .title span {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .service_list .title h3 {
    font-size: 19px;
  }
  .service_list .text {
    margin-bottom: 20px;
  }
  .service_list ul li .list_inner {
    padding-bottom: 45px;
    box-shadow: 16px 17px 17px !important;
    border-radius: 20px !important;
  }
  .elisc_tm_video .play {
    height: 100px;
    width: 100px;
  }
}
.elisc_tm_video .text {
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1600px) {
  .elisc_tm_video .text {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .elisc_tm_video .text h3 {
    font-size: 15px;
  }
  .elisc_tm_portfolio .portfolio_list .details .title a {
    font-size: 21px;
  }
  .elisc_tm_portfolio .portfolio_list .details .category {
    margin-bottom: 0;
  }
  .elisc_tm_news .list .title h3 {
    font-size: 25px;
    line-height: 33px;
  }
  .elisc_tm_news .\!list .title h3 {
    font-size: 25px;
    line-height: 33px;
  }
  .elisc_tm_news .list .meta {
    margin-bottom: 6px;
  }
  .elisc_tm_news .\!list .meta {
    margin-bottom: 6px;
  }
  .elisc_tm_about {
    padding-top: 85px;
  }
  .elisc_tm_services {
    padding-top: 85px;
  }
  .elisc_tm_portfolio {
    padding-top: 85px;
  }
  .elisc_tm_news {
    padding-top: 85px;
  }
  .elisc_tm_contact {
    padding-top: 85px;
  }
  .elisc_tm_sticky_section {
    top: 85px;
  }
  .dodo_tm_one_page_wrapper .elisc_tm_news {
    padding-top: 85px;
  }
  .dodo_tm_one_page_wrapper .elisc_tm_portfolio {
    padding-top: 85px;
  }
}
@media (max-width: 1040px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mouse-cursor {
    display: none;
  }
  #preloader {
    display: none;
  }
  .elisc_tm_topbar {
    display: inline-block !important;
  }
  .elisc_tm_sidebar {
    display: none !important;
  }
  .elisc_tm_mainpart {
    padding-left: 0 !important;
  }
  .elisc_tm_home .details {
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .elisc_tm_home .details .left {
    width: 100%;
  }
  .elisc_tm_home .details .\!left {
    width: 100%;
  }
  .elisc_tm_home .details .righ {
    margin-bottom: 50px;
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_home {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  .elisc_tm_home .details .right {
    margin-bottom: 50px;
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_home .details .\!right {
    margin-bottom: 50px;
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_home .title h3,
  .elisc_tm_home .title span {
    font-size: 50px;
    line-height: 63px;
  }
  .elisc_tm_home .buttons {
    margin-bottom: 75px;
  }
  .elisc_tm_biography {
    flex-direction: column;
  }
  .elisc_tm_biography .left {
    margin-bottom: 50px;
    width: 100%;
  }
  .elisc_tm_biography .\!left {
    margin-bottom: 50px;
    width: 100%;
  }
  .elisc_tm_biography .right {
    width: 100%;
  }
  .elisc_tm_biography .\!right {
    width: 100%;
  }
  .elisc_tm_biography .text p {
    margin-bottom: 17px;
  }
  .elisc_tm_counter ul li {
    width: 50%;
  }
  .elisc_tm_biography .info ul li {
    margin-right: 25px;
  }
  .elisc_tm_biography .\!info ul li {
    margin-right: 25px;
  }
  .elisc_tm_title h3 {
    font-size: 30px;
  }
  .elisc_tm_title span {
    margin-bottom: 5px;
  }
  .elisc_tm_counter ul li .list_inner:before {
    display: none;
  }
  .service_list ul li {
    width: 50%;
  }
  .elisc_tm_partners ul li {
    width: 33.333333%;
  }
  .elisc_tm_testimonials .text p {
    font-size: 20px;
    line-height: 33px;
    border-radius: 20px;
  }
  .elisc_tm_testimonials .detail h3 {
    font-size: 25px;
    border-radius: 20px;
  }
  .elisc_tm_news .wrapper {
    flex-direction: column;
  }
  .elisc_tm_news .left {
    margin-bottom: 50px;
    width: 100%;
    padding-right: 0;
  }
  .elisc_tm_news .\!left {
    margin-bottom: 50px;
    width: 100%;
    padding-right: 0;
  }
  .elisc_tm_news .right {
    width: 100% !important;
    padding-left: 0 !important;
  }
  .elisc_tm_news .\!right {
    width: 100% !important;
    padding-left: 0 !important;
  }
  .elisc_tm_news .list ul li .list_inner {
    flex-direction: column;
    align-items: baseline;
  }
  .elisc_tm_news .\!list ul li .list_inner {
    flex-direction: column;
    align-items: baseline;
  }
  .elisc_tm_news .list .info {
    margin-bottom: 20px;
    width: 100%;
  }
  .elisc_tm_news .\!list .info {
    margin-bottom: 20px;
    width: 100%;
  }
  .elisc_tm_news .list .\!info {
    margin-bottom: 20px;
    width: 100%;
  }
  .elisc_tm_news .list .title h3 {
    font-size: 22px;
  }
  .elisc_tm_news .\!list .title h3 {
    font-size: 22px;
  }
  .elisc_tm_news .list .meta {
    margin-bottom: 5px;
  }
  .elisc_tm_news .\!list .meta {
    margin-bottom: 5px;
  }
  .movingbox {
    display: none;
  }
  .elisc_tm_contact .wrapper {
    flex-direction: column;
  }
  .elisc_tm_contact .wrapper .left {
    margin-bottom: 40px;
    width: 100%;
    padding: 0;
  }
  .elisc_tm_contact .wrapper .\!left {
    margin-bottom: 40px;
    width: 100%;
    padding: 0;
  }
  .elisc_tm_contact .wrapper .right {
    width: 100%;
    padding: 0;
  }
  .elisc_tm_contact .wrapper .\!right {
    width: 100%;
    padding: 0;
  }
  .elisc_tm_contact .wrapper .text {
    margin-bottom: 30px;
  }
  .elisc_tm_map {
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .elisc_tm_home .title h3,
  .elisc_tm_home .title span {
    font-size: 35px;
    line-height: 45px;
  }
  .elisc_tm_counter ul {
    margin: 0;
  }
  .elisc_tm_counter ul li {
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_experience .list ul {
    margin: 0;
  }
  .elisc_tm_experience .\!list ul {
    margin: 0;
  }
  .elisc_tm_experience .list ul li {
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_experience .\!list ul li {
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_experience .list ul li .list_inner {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 11px 13px 20px !important;
    border-radius: 20px !important;
  }
  .elisc_tm_experience .\!list ul li .list_inner {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .elisc_tm_experience .short {
    font-size: 15px;
  }
  .elisc_tm_experience .list ul li {
    margin-bottom: 30px;
  }
  .elisc_tm_experience .\!list ul li {
    margin-bottom: 30px;
  }
  .service_list ul {
    margin: 0;
  }
  .service_list ul li {
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_service_title {
    flex-direction: column;
    align-items: baseline !important;
  }
  .elisc_tm_service_title .elisc_tm_title {
    margin-bottom: 20px;
  }
  .service_list ul li .list_inner {
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 16px 17px 17px !important;
    border-radius: 20px !important;
  }
  .elisc_tm_video .text h3 {
    font-size: 12px;
  }
  .elisc_tm_video .text {
    bottom: 10px;
    right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .elisc_tm_video .play {
    height: 45px;
    width: 45px;
  }
  .elisc_tm_video .play .svg {
    height: 13px;
    width: 13px;
  }
  .elisc_tm_portfolio_title {
    flex-direction: column;
    align-items: baseline;
  }
  .elisc_tm_portfolio_title .elisc_tm_title {
    margin-bottom: 20px;
  }
  .elisc_tm_partners ul li {
    width: 50%;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.collapse {
  visibility: collapse;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.-inset-1 {
  inset: -0.25rem;
}
.inset-0 {
  inset: 0;
}
.bottom-\[16px\] {
  bottom: 16px;
}
.bottom-\[50px\] {
  bottom: 50px;
}
.end-1 {
  inset-inline-end: 0.25rem;
}
.left-0 {
  left: 0;
}
.left-1\/2 {
  left: 50%;
}
.right-0 {
  right: 0;
}
.right-\[16px\] {
  right: 16px;
}
.top-0 {
  top: 0;
}
.top-1\/2 {
  top: 50%;
}
.isolate {
  isolation: isolate;
}
.isolation-auto {
  isolation: auto;
}
.z-\[15\] {
  z-index: 15;
}
.z-\[1\] {
  z-index: 1;
}
.z-\[2\] {
  z-index: 2;
}
.z-\[5\] {
  z-index: 5;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-none {
  float: none;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clear-both {
  clear: both;
}
.clear-none {
  clear: none;
}
.m-0 {
  margin: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mb-\[120px\] {
  margin-bottom: 120px;
}
.mb-\[12px\] {
  margin-bottom: 12px;
}
.mb-\[13px\] {
  margin-bottom: 13px;
}
.mb-\[150px\] {
  margin-bottom: 150px;
}
.mb-\[15px\] {
  margin-bottom: 15px;
}
.mb-\[16px\] {
  margin-bottom: 16px;
}
.mb-\[20px\] {
  margin-bottom: 20px;
}
.mb-\[21px\] {
  margin-bottom: 21px;
}
.mb-\[25px\] {
  margin-bottom: 25px;
}
.mb-\[30px\] {
  margin-bottom: 30px;
}
.mb-\[33px\] {
  margin-bottom: 33px;
}
.mb-\[40px\] {
  margin-bottom: 40px;
}
.mb-\[44px\] {
  margin-bottom: 44px;
}
.mb-\[4px\] {
  margin-bottom: 4px;
}
.mb-\[50px\] {
  margin-bottom: 50px;
}
.mb-\[5px\] {
  margin-bottom: 5px;
}
.mb-\[65px\] {
  margin-bottom: 65px;
}
.mb-\[7px\] {
  margin-bottom: 7px;
}
.mb-\[8px\] {
  margin-bottom: 8px;
}
.mb-\[90px\] {
  margin-bottom: 90px;
}
.ml-\[-30px\] {
  margin-left: -30px;
}
.ml-\[2px\] {
  margin-left: 2px;
}
.mr-\[3px\] {
  margin-right: 3px;
}
.mr-\[40px\] {
  margin-right: 40px;
}
.mr-\[8px\] {
  margin-right: 8px;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-\[-19px\] {
  margin-top: -19px;
}
.mt-\[100px\] {
  margin-top: 100px;
}
.mt-\[20px\] {
  margin-top: 20px;
}
.mt-\[40px\] {
  margin-top: 40px;
}
.mt-\[43px\] {
  margin-top: 43px;
}
.mt-\[45px\] {
  margin-top: 45px;
}
.mt-\[58px\] {
  margin-top: 58px;
}
.box-border {
  box-sizing: border-box;
}
.box-content {
  box-sizing: content-box;
}
.line-clamp-none {
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-caption {
  display: table-caption;
}
.table-cell {
  display: table-cell;
}
.table-column {
  display: table-column;
}
.table-column-group {
  display: table-column-group;
}
.table-footer-group {
  display: table-footer-group;
}
.table-header-group {
  display: table-header-group;
}
.table-row-group {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.flow-root {
  display: flow-root;
}
.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}
.contents {
  display: contents;
}
.list-item {
  display: list-item;
}
.hidden {
  display: none;
}
.h-\[100vh\] {
  height: 100vh;
}
.h-\[111px\] {
  height: 111px;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[40px\] {
  height: 40px;
}
.h-\[50px\] {
  height: 50px;
}
.h-\[60px\] {
  height: 60px;
}
.h-\[70px\] {
  height: 70px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.max-h-\[40px\] {
  max-height: 40px;
}
.min-h-\[100vh\] {
  min-height: 100vh;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-\[111px\] {
  width: 111px;
}
.w-\[118px\] {
  width: 118px;
}
.w-\[18px\] {
  width: 18px;
}
.w-\[370px\] {
  width: 370px;
}
.w-\[40\%\] {
  width: 40%;
}
.w-\[40px\] {
  width: 40px;
}
.w-\[60\%\] {
  width: 60%;
}
.w-\[60px\] {
  width: 60px;
}
.w-\[66\.6666\%\] {
  width: 66.6666%;
}
.w-\[70px\] {
  width: 70px;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.min-w-full {
  min-width: 100%;
}
.max-w-\[100px\] {
  max-width: 100px;
}
.max-w-\[1250px\] {
  max-width: 1250px;
}
.max-w-\[80\%\] {
  max-width: 80%;
}
.flex-shrink {
  flex-shrink: 1;
}
.shrink {
  flex-shrink: 1;
}
.flex-grow {
  flex-grow: 1;
}
.grow {
  flex-grow: 1;
}
.table-auto {
  table-layout: auto;
}
.table-fixed {
  table-layout: fixed;
}
.caption-top {
  caption-side: top;
}
.caption-bottom {
  caption-side: bottom;
}
.border-collapse {
  border-collapse: collapse;
}
.border-separate {
  border-collapse: separate;
}
.translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-2 {
  --tw-rotate: 2deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.\!transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform-cpu {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform-gpu {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform-none {
  transform: none;
}
.cursor-pointer {
  cursor: pointer;
}
.touch-auto {
  touch-action: auto;
}
.touch-none {
  touch-action: none;
}
.touch-pan-x {
  --tw-pan-x: pan-x;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.touch-pan-left {
  --tw-pan-x: pan-left;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.touch-pan-right {
  --tw-pan-x: pan-right;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.touch-pan-y {
  --tw-pan-y: pan-y;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.touch-pan-up {
  --tw-pan-y: pan-up;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.touch-pan-down {
  --tw-pan-y: pan-down;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.touch-pinch-zoom {
  --tw-pinch-zoom: pinch-zoom;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.touch-manipulation {
  touch-action: manipulation;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.select-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}
.select-auto {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
.resize-none {
  resize: none;
}
.resize-y {
  resize: vertical;
}
.resize-x {
  resize: horizontal;
}
.resize {
  resize: both;
}
.snap-none {
  scroll-snap-type: none;
}
.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}
.snap-y {
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
}
.snap-both {
  scroll-snap-type: both var(--tw-scroll-snap-strictness);
}
.snap-mandatory {
  --tw-scroll-snap-strictness: mandatory;
}
.snap-proximity {
  --tw-scroll-snap-strictness: proximity;
}
.snap-start {
  scroll-snap-align: start;
}
.snap-end {
  scroll-snap-align: end;
}
.snap-center {
  scroll-snap-align: center;
}
.snap-align-none {
  scroll-snap-align: none;
}
.snap-normal {
  scroll-snap-stop: normal;
}
.snap-always {
  scroll-snap-stop: always;
}
.list-inside {
  list-style-position: inside;
}
.list-outside {
  list-style-position: outside;
}
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.break-before-auto {
  -moz-column-break-before: auto;
  break-before: auto;
}
.break-before-avoid {
  -moz-column-break-before: avoid;
  break-before: avoid;
}
.break-before-all {
  -moz-column-break-before: all;
  break-before: all;
}
.break-before-avoid-page {
  -moz-column-break-before: avoid;
  break-before: avoid-page;
}
.break-before-page {
  -moz-column-break-before: page;
  break-before: page;
}
.break-before-left {
  -moz-column-break-before: left;
  break-before: left;
}
.break-before-right {
  -moz-column-break-before: right;
  break-before: right;
}
.break-before-column {
  -moz-column-break-before: column;
  break-before: column;
}
.break-inside-auto {
  -moz-column-break-inside: auto;
  break-inside: auto;
}
.break-inside-avoid {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.break-inside-avoid-page {
  break-inside: avoid-page;
}
.break-inside-avoid-column {
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
.break-after-auto {
  -moz-column-break-after: auto;
  break-after: auto;
}
.break-after-avoid {
  -moz-column-break-after: avoid;
  break-after: avoid;
}
.break-after-all {
  -moz-column-break-after: all;
  break-after: all;
}
.break-after-avoid-page {
  -moz-column-break-after: avoid;
  break-after: avoid-page;
}
.break-after-page {
  -moz-column-break-after: page;
  break-after: page;
}
.break-after-left {
  -moz-column-break-after: left;
  break-after: left;
}
.break-after-right {
  -moz-column-break-after: right;
  break-after: right;
}
.break-after-column {
  -moz-column-break-after: column;
  break-after: column;
}
.grid-flow-row {
  grid-auto-flow: row;
}
.grid-flow-col {
  grid-auto-flow: column;
}
.grid-flow-dense {
  grid-auto-flow: dense;
}
.grid-flow-row-dense {
  grid-auto-flow: row dense;
}
.grid-flow-col-dense {
  grid-auto-flow: column dense;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.place-content-center {
  place-content: center;
}
.place-content-start {
  place-content: start;
}
.place-content-end {
  place-content: end;
}
.place-content-between {
  place-content: space-between;
}
.place-content-around {
  place-content: space-around;
}
.place-content-evenly {
  place-content: space-evenly;
}
.place-content-baseline {
  place-content: baseline;
}
.place-content-stretch {
  place-content: stretch;
}
.place-items-start {
  place-items: start;
}
.place-items-end {
  place-items: end;
}
.place-items-center {
  place-items: center;
}
.place-items-baseline {
  place-items: baseline;
}
.place-items-stretch {
  place-items: stretch;
}
.content-normal {
  align-content: normal;
}
.content-center {
  align-content: center;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}
.content-baseline {
  align-content: baseline;
}
.content-stretch {
  align-content: stretch;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
.justify-normal {
  justify-content: normal;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-stretch {
  justify-content: stretch;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 1;
}
.space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}
.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 1;
}
.divide-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 1;
}
.divide-solid > :not([hidden]) ~ :not([hidden]) {
  border-style: solid;
}
.divide-dashed > :not([hidden]) ~ :not([hidden]) {
  border-style: dashed;
}
.divide-dotted > :not([hidden]) ~ :not([hidden]) {
  border-style: dotted;
}
.divide-double > :not([hidden]) ~ :not([hidden]) {
  border-style: double;
}
.divide-none > :not([hidden]) ~ :not([hidden]) {
  border-style: none;
}
.place-self-auto {
  place-self: auto;
}
.place-self-start {
  place-self: start;
}
.place-self-end {
  place-self: end;
}
.place-self-center {
  place-self: center;
}
.place-self-stretch {
  place-self: stretch;
}
.self-auto {
  align-self: auto;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}
.self-baseline {
  align-self: baseline;
}
.justify-self-auto {
  justify-self: auto;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-stretch {
  justify-self: stretch;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-clip {
  overflow: clip;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-clip {
  overflow-x: clip;
}
.overflow-y-clip {
  overflow-y: clip;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.overscroll-auto {
  overscroll-behavior: auto;
}
.overscroll-contain {
  overscroll-behavior: contain;
}
.overscroll-none {
  overscroll-behavior: none;
}
.overscroll-y-auto {
  overscroll-behavior-y: auto;
}
.overscroll-y-contain {
  overscroll-behavior-y: contain;
}
.overscroll-y-none {
  overscroll-behavior-y: none;
}
.overscroll-x-auto {
  overscroll-behavior-x: auto;
}
.overscroll-x-contain {
  overscroll-behavior-x: contain;
}
.overscroll-x-none {
  overscroll-behavior-x: none;
}
.scroll-auto {
  scroll-behavior: auto;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.text-clip {
  text-overflow: clip;
}
.hyphens-none {
  -webkit-hyphens: none;
  hyphens: none;
}
.hyphens-manual {
  -webkit-hyphens: manual;
  hyphens: manual;
}
.hyphens-auto {
  -webkit-hyphens: auto;
  hyphens: auto;
}
.whitespace-normal {
  white-space: normal;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre {
  white-space: pre;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.whitespace-break-spaces {
  white-space: break-spaces;
}
.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}
.break-words {
  overflow-wrap: break-word;
}
.break-all {
  word-break: break-all;
}
.break-keep {
  word-break: keep-all;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-\[10px\] {
  border-radius: 10px;
}
.rounded-\[4px\] {
  border-radius: 4px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-b {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-e {
  border-start-end-radius: 0.25rem;
  border-end-end-radius: 0.25rem;
}
.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.rounded-s {
  border-start-start-radius: 0.25rem;
  border-end-start-radius: 0.25rem;
}
.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.rounded-bl {
  border-bottom-left-radius: 0.25rem;
}
.rounded-br {
  border-bottom-right-radius: 0.25rem;
}
.rounded-ee {
  border-end-end-radius: 0.25rem;
}
.rounded-es {
  border-end-start-radius: 0.25rem;
}
.rounded-se {
  border-start-end-radius: 0.25rem;
}
.rounded-ss {
  border-start-start-radius: 0.25rem;
}
.rounded-tl {
  border-top-left-radius: 0.25rem;
}
.rounded-tr {
  border-top-right-radius: 0.25rem;
}
.border {
  border-width: 1px;
}
.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}
.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-e {
  border-inline-end-width: 1px;
}
.border-l {
  border-left-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-s {
  border-inline-start-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-double {
  border-style: double;
}
.border-hidden {
  border-style: hidden;
}
.border-none {
  border-style: none;
}
.border-\[rgba\(85\2c 82\2c 124\2c \.1\)\] {
  border-color: rgba(85, 82, 124, 0.1);
}
.bg-\[\#D3F4EC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(211 244 236 / var(--tw-bg-opacity));
}
.bg-\[\#E3F9E0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(227 249 224 / var(--tw-bg-opacity));
}
.bg-\[\#E9F9FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 249 255 / var(--tw-bg-opacity));
}
.bg-\[\#EFFBF8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 248 / var(--tw-bg-opacity));
}
.bg-\[\#F3F9FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 249 255 / var(--tw-bg-opacity));
}
.bg-\[\#FCE8D4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 232 212 / var(--tw-bg-opacity));
}
.bg-\[\#FFF5F6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 245 246 / var(--tw-bg-opacity));
}
.bg-\[rgb\(255\2c 0\2c 0\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity));
}
.bg-\[rgba\(0\2c 0\2c 0\2c \.4\)\] {
  background-color: rgba(0, 0, 0, 0.4);
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: #060714 !important;
}
.decoration-slice {
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice;
}
.decoration-clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.box-decoration-slice {
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice;
}
.box-decoration-clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.bg-cover {
  background-size: cover;
}
.bg-fixed {
  background-attachment: fixed;
}
.bg-local {
  background-attachment: local;
}
.bg-scroll {
  background-attachment: scroll;
}
.bg-clip-border {
  background-clip: border-box;
}
.bg-clip-padding {
  background-clip: padding-box;
}
.bg-clip-content {
  background-clip: content-box;
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}
.bg-center {
  background-position: center;
}
.bg-repeat {
  background-repeat: repeat;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-repeat-x {
  background-repeat: repeat-x;
}
.bg-repeat-y {
  background-repeat: repeat-y;
}
.bg-repeat-round {
  background-repeat: round;
}
.bg-repeat-space {
  background-repeat: space;
}
.bg-origin-border {
  background-origin: border-box;
}
.bg-origin-padding {
  background-origin: padding-box;
}
.bg-origin-content {
  background-origin: content-box;
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.object-fill {
  -o-object-fit: fill;
  object-fit: fill;
}
.object-none {
  -o-object-fit: none;
  object-fit: none;
}
.object-scale-down {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}
.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}
.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}
.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px;
}
.px-\[70px\] {
  padding-left: 70px;
  padding-right: 70px;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-\[120px\] {
  padding-top: 120px;
  padding-bottom: 120px;
}
.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-\[45px\] {
  padding-top: 45px;
  padding-bottom: 45px;
}
.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pb-\[105px\] {
  padding-bottom: 105px;
}
.pb-\[20px\] {
  padding-bottom: 20px;
}
.pb-\[55px\] {
  padding-bottom: 55px;
}
.pb-\[70px\] {
  padding-bottom: 70px;
}
.pl-\[100px\] {
  padding-left: 100px;
}
.pl-\[15px\] {
  padding-left: 15px;
}
.pl-\[18px\] {
  padding-left: 18px;
}
.pl-\[30px\] {
  padding-left: 30px;
}
.pl-\[370px\] {
  padding-left: 370px;
}
.pl-\[50px\] {
  padding-left: 50px;
}
.pl-\[8px\] {
  padding-left: 8px;
}
.pr-\[150px\] {
  padding-right: 150px;
}
.pr-\[50px\] {
  padding-right: 50px;
}
.pt-\[100px\] {
  padding-top: 100px;
}
.pt-\[110px\] {
  padding-top: 110px;
}
.pt-\[120px\] {
  padding-top: 120px;
}
.pt-\[130px\] {
  padding-top: 130px;
}
.pt-\[32px\] {
  padding-top: 32px;
}
.pt-\[60px\] {
  padding-top: 60px;
}
.pt-\[70px\] {
  padding-top: 70px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
  background-color: #b9e4f5;
}
.text-justify {
  text-align: justify;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.align-baseline {
  vertical-align: baseline;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.align-text-top {
  vertical-align: text-top;
}
.align-text-bottom {
  vertical-align: text-bottom;
}
.align-sub {
  vertical-align: sub;
}
.align-super {
  vertical-align: super;
}
.font-inter {
  font-family: Inter, sans-serif;
}
.font-karla {
  font-family: Karla, sans-serif;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[17px\] {
  font-size: 17px;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[24px\] {
  font-size: 24px;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-\[40px\] {
  font-size: 40px;
}
.text-\[60px\] {
  font-size: 60px;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.normal-case {
  text-transform: none;
}
.italic {
  font-style: italic;
}
.not-italic {
  font-style: normal;
}
.normal-nums {
  font-variant-numeric: normal;
}
.ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.slashed-zero {
  --tw-slashed-zero: slashed-zero;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.lining-nums {
  --tw-numeric-figure: lining-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.oldstyle-nums {
  --tw-numeric-figure: oldstyle-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.proportional-nums {
  --tw-numeric-spacing: proportional-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.diagonal-fractions {
  --tw-numeric-fraction: diagonal-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.stacked-fractions {
  --tw-numeric-fraction: stacked-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero)
    var(--tw-numeric-figure) var(--tw-numeric-spacing)
    var(--tw-numeric-fraction);
}
.leading-\[36px\] {
  line-height: 36px;
}
.leading-\[40px\] {
  line-height: 40px;
}
.leading-\[70px\] {
  line-height: 70px;
}
.text-\[\#130F49\] {
  --tw-text-opacity: 1;
  color: rgb(19 15 73 / var(--tw-text-opacity));
}
.text-\[\#333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}
.text-\[\#336699\]\/\[\.35\] {
  color: rgb(51 102 153/0.35);
}
.text-\[\#51586A\] {
  --tw-text-opacity: 1;
  color: rgb(81 88 106 / var(--tw-text-opacity));
}
.text-\[\#55527C\] {
  --tw-text-opacity: 1;
  color: rgb(85 82 124 / var(--tw-text-opacity));
}
.text-\[rgba\(19\2c 15\2c 73\2c \.5\)\] {
  color: rgba(19, 15, 73, 0.5);
}
.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}
.text-blue-color {
  color: #6ea1b4;
}
.text-dark-color {
  color: var(--dark-color);
}
.text-yellow-color {
  color: var(--yellow-color);
}
.underline {
  text-decoration-line: underline;
}
.overline {
  text-decoration-line: overline;
}
.line-through {
  text-decoration-line: line-through;
}
.no-underline {
  text-decoration-line: none;
}
.decoration-solid {
  text-decoration-style: solid;
}
.decoration-double {
  text-decoration-style: double;
}
.decoration-dotted {
  text-decoration-style: dotted;
}
.decoration-dashed {
  text-decoration-style: dashed;
}
.decoration-wavy {
  text-decoration-style: wavy;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.opacity-0 {
  opacity: 0;
}
.opacity-\[0\.7\] {
  opacity: 0.7;
}
.bg-blend-normal {
  background-blend-mode: normal;
}
.bg-blend-multiply {
  background-blend-mode: multiply;
}
.bg-blend-screen {
  background-blend-mode: screen;
}
.bg-blend-overlay {
  background-blend-mode: overlay;
}
.bg-blend-darken {
  background-blend-mode: darken;
}
.bg-blend-lighten {
  background-blend-mode: lighten;
}
.bg-blend-color-dodge {
  background-blend-mode: color-dodge;
}
.bg-blend-color-burn {
  background-blend-mode: color-burn;
}
.bg-blend-hard-light {
  background-blend-mode: hard-light;
}
.bg-blend-soft-light {
  background-blend-mode: soft-light;
}
.bg-blend-difference {
  background-blend-mode: difference;
}
.bg-blend-exclusion {
  background-blend-mode: exclusion;
}
.bg-blend-hue {
  background-blend-mode: hue;
}
.bg-blend-saturation {
  background-blend-mode: saturation;
}
.bg-blend-color {
  background-blend-mode: color;
}
.bg-blend-luminosity {
  background-blend-mode: luminosity;
}
.mix-blend-normal {
  mix-blend-mode: normal;
}
.mix-blend-multiply {
  mix-blend-mode: multiply;
}
.mix-blend-screen {
  mix-blend-mode: screen;
}
.mix-blend-overlay {
  mix-blend-mode: overlay;
}
.mix-blend-darken {
  mix-blend-mode: darken;
}
.mix-blend-lighten {
  mix-blend-mode: lighten;
}
.mix-blend-color-dodge {
  mix-blend-mode: color-dodge;
}
.mix-blend-color-burn {
  mix-blend-mode: color-burn;
}
.mix-blend-hard-light {
  mix-blend-mode: hard-light;
}
.mix-blend-soft-light {
  mix-blend-mode: soft-light;
}
.mix-blend-difference {
  mix-blend-mode: difference;
}
.mix-blend-exclusion {
  mix-blend-mode: exclusion;
}
.mix-blend-hue {
  mix-blend-mode: hue;
}
.mix-blend-saturation {
  mix-blend-mode: saturation;
}
.mix-blend-color {
  mix-blend-mode: color;
}
.mix-blend-luminosity {
  mix-blend-mode: luminosity;
}
.mix-blend-plus-lighter {
  mix-blend-mode: plus-lighter;
}
.\!shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.outline {
  outline-style: solid;
}
.outline-dashed {
  outline-style: dashed;
}
.outline-dotted {
  outline-style: dotted;
}
.outline-double {
  outline-style: double;
}
.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.ring-inset {
  --tw-ring-inset: inset;
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.sepia {
  --tw-sepia: sepia(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow) !important;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.filter-none {
  filter: none;
}
.backdrop-blur {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-grayscale {
  --tw-backdrop-grayscale: grayscale(100%);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-invert {
  --tw-backdrop-invert: invert(100%);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-sepia {
  --tw-backdrop-sepia: sepia(100%);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-filter-none {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.content-\[\'this-is-also-valid\]-weirdly-enough\'\] {
  --tw-content: "this-is-also-valid]-weirdly-enough";
  content: var(--tw-content);
}
:root {
  --main-color: #55527c;
  --dark-color: #130f49;
  --yellow-color: #ff972d;
  --blue-color: #a5a6ff;
}
.hover\:font-bold:hover {
  font-weight: 700;
}
.before\:hover\:text-center:hover::before {
  content: var(--tw-content);
  text-align: center;
}
.hover\:before\:text-center:hover::before {
  content: var(--tw-content);
  text-align: center;
}
.focus\:hover\:text-center:hover:focus {
  text-align: center;
}
.hover\:focus\:text-center:focus:hover {
  text-align: center;
}
@media (max-width: 768px) {
  .small\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.box {
  width: 100%;
  height: auto;
  min-height: 42vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: auto;
  user-select: none;
}
.box div {
  width: 25vw;
  background: #fff;
  height: 18vw;
  margin: 0 20px;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 5px 5px 10px 0px;
  overflow: hidden;
  border-radius: 25px;
  object-fit: cover;
}
.box div img {
  width: auto;
  height: auto;
  transition: transform 1s;
}

.box div:hover {
  filter: grayscale(0);
}
.box div:hover img {
  transform: scale(1.2);
}
.box:hover div:not(:hover) {
  filter: grayscale(1) blur(1px);
}
@media screen and (max-width: 1080px) {
  .box {
    flex-direction: column;
  }
  .box div {
    margin: 20px 0;
    height: 70vw;
    width: 70vw;
  }
}
