.elisc_tm_modalbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elisc_tm_modalbox.opened {
  opacity: 1;
  visibility: visible;
}
.elisc_tm_modalbox .box_inner {
  position: absolute;
  top: 70px;
  bottom: 70px;
  width: 968px;
  left: 50%;
  transform: translateX(-53%);
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  transition-delay: 0.3s;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elisc_tm_modalbox.opened .box_inner {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
  width: 80%;
}
.elisc_tm_modalbox .close {
  position: fixed;
  left: 100%;
  top: 0;
  margin-left: 30px;
  z-index: 10;
}
.elisc_tm_modalbox .close a {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elisc_tm_modalbox .close a:hover {
  border-radius: 100%;
}
.elisc_tm_modalbox .close a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.elisc_tm_modalbox .description_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  padding: 50px;
  overflow-y: scroll;
  border-radius: 5px;
}
.elisc_tm_modalbox .description_wrap:before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  z-index: 5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.elisc_tm_modalbox .description_wrap:after {
  position: fixed;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  z-index: 5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.elisc_tm_modalbox .description_wrap::-webkit-scrollbar {
  width: 11px;
}
.aali_tm_modalbox .description_wrap {
  scrollbar-width: thin;
  scrollbar-color: #bbb #fff;
}
.elisc_tm_modalbox .description_wrap:-webkit-scrollbar-track {
  background: #fff;
}
.elisc_tm_modalbox .description_wrap::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
  border: 3px solid #fff;
}
.hidden_details {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -11;
}
.elisc_tm_services .descriptions {
  width: 100%;
  float: left;
}
.elisc_tm_modalbox .top_image {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.elisc_tm_modalbox .top_image img {
  position: relative;
  opacity: 0;
  min-width: 100%;
}
.elisc_tm_modalbox .top_image .main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.elisc_tm_modalbox .main_title {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.elisc_tm_modalbox .main_title h3 {
  font-size: 25px;
}
.elisc_tm_modalbox .descriptions p {
  margin-bottom: 10px;
  opacity: 0.8;
}
.elisc_tm_modalbox .descriptions p:last-child {
  margin-bottom: 0;
}
.hidden_content_portfolio {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -11;
}
.elisc_tm_modalbox .hidden_content_portfolio {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -11;
}
.elisc_tm_modalbox .popup_details {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.elisc_tm_modalbox .popup_details .top_image {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.elisc_tm_modalbox .popup_details .top_image img {
  position: relative;
  min-width: 100%;
  opacity: 0;
}
.elisc_tm_modalbox .popup_details .top_image .main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.elisc_tm_modalbox .portfolio_main_title {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.elisc_tm_modalbox .portfolio_main_title .category a {
  display: inline-block;
  color: var(--main-color);
  margin-bottom: 7px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elisc_tm_modalbox .portfolio_main_title .category a:hover {
  color: var(--yellow-color);
}
.elisc_tm_modalbox .portfolio_main_title h3 {
  font-size: 25px;
}
.elisc_tm_modalbox .main_details {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  margin-bottom: 60px;
}
.elisc_tm_modalbox .main_details .textbox {
  width: 70%;
  padding-right: 40px;
}
.elisc_tm_modalbox .main_details .textbox p {
  margin-bottom: 10px;
  opacity: 0.8;
}
.elisc_tm_modalbox .main_details .textbox p:last-child {
  margin-bottom: 0;
}
.elisc_tm_modalbox .main_details .detailbox {
  width: 30%;
  padding-left: 40px;
}
.elisc_tm_modalbox .main_details .detailbox > ul {
  margin: 0;
  list-style-type: none;
}
.elisc_tm_modalbox .main_details .detailbox > ul > li {
  margin: 0 0 10px;
  width: 100%;
  float: left;
}
.elisc_tm_modalbox .main_details .detailbox > ul > li:last-child {
  margin-bottom: 0;
}
.elisc_tm_modalbox .main_details .detailbox > ul > li span:last-child {
  opacity: 0.8;
}
.elisc_tm_modalbox .main_details .detailbox .first {
  font-weight: 700;
  display: block;
}
.elisc_tm_modalbox .main_details .detailbox span a {
  text-decoration: none;
  color: var(--main-color);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elisc_tm_modalbox .main_details .detailbox span a:hover {
  color: var(--yellow-color);
}
.elisc_tm_modalbox .main_details .detailbox .share {
  margin: 0;
  list-style-type: none;
  position: relative;
  top: 7px;
}
.elisc_tm_modalbox .main_details .detailbox .share li {
  margin: 0 13px 0 0;
  display: inline-block;
}
.elisc_tm_modalbox .main_details .detailbox .share li:last-child {
  margin-right: 0;
}
.elisc_tm_modalbox .main_details .detailbox .share li a {
  text-decoration: none;
  color: var(--main-color);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elisc_tm_modalbox .main_details .detailbox .share li a:hover {
  color: var(--yellow-color);
}
.elisc_tm_modalbox .additional_images {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.elisc_tm_modalbox .additional_images ul {
  margin: 0 0 0 -30px;
  list-style-type: none;
}
.elisc_tm_modalbox .additional_images ul li {
  margin: 0 0 30px;
  float: left;
  width: 50%;
  padding-left: 30px;
}
.elisc_tm_modalbox .additional_images ul li:nth-child(3n-2) {
  width: 100%;
}
.elisc_tm_modalbox .additional_images ul li .list_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.elisc_tm_modalbox .additional_images ul li .my_image {
  position: relative;
}
.elisc_tm_modalbox .additional_images ul li .my_image img {
  opacity: 0;
  min-width: 100%;
}
.elisc_tm_modalbox .additional_images ul li .my_image .main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.elisc_tm_news .news_hidden_details {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -11;
}
.elisc_tm_modalbox .news_popup_informations {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.elisc_tm_modalbox .news_popup_informations .image {
  position: relative;
  margin-bottom: 30px;
}
.elisc_tm_modalbox .news_popup_informations .image img {
  position: relative;
  opacity: 0;
  min-width: 100%;
}
.elisc_tm_modalbox .news_popup_informations .image .main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.elisc_tm_modalbox .news_popup_informations .text {
  width: 100%;
  float: left;
}
.elisc_tm_modalbox .news_popup_informations .text p {
  margin-bottom: 10px;
  opacity: 0.8;
}
.elisc_tm_modalbox .news_popup_informations .text p:last-child {
  margin-bottom: 0;
}
.elisc_tm_modalbox .meta {
  width: 100%;
  display: flex;
  align-items: center;
  float: left;
  margin-bottom: 7px;
}
.elisc_tm_modalbox .meta .svg {
  width: 18px;
  height: 18px;
}
.elisc_tm_modalbox .meta span {
  padding-left: 8px;
}
.elisc_tm_modalbox .meta ul {
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2px;
}
.elisc_tm_modalbox .meta ul li {
  margin: 0;
  position: relative;
  margin-right: 10px;
}
.elisc_tm_modalbox .meta ul li:before {
  position: relative;
  content: "/";
  font-size: 18px;
}
.elisc_tm_modalbox .meta ul li:first-child:before {
  display: none;
}
.elisc_tm_modalbox .meta ul li span {
  font-size: 15px;
  color: #777;
  padding-left: 10px;
}
.elisc_tm_modalbox .meta ul li span a {
  text-decoration: none;
  color: #777;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elisc_tm_modalbox .meta ul li span a:hover {
  color: #000;
}
.elisc_tm_modalbox .meta ul li:first-child span {
  padding-left: 0;
}
.elisc_tm_modalbox .news_popup_informations .title {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.elisc_tm_modalbox .news_popup_informations .title h3 {
  font-size: 25px;
}
.elisc_tm_modalbox .infos {
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom: 20px;
}
.elisc_tm_modalbox .infos .year {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.elisc_tm_modalbox .infos .year span {
  display: inline-block;
  background-color: #000;
  color: var(--yellow-color);
  border-radius: 4px;
  padding: 4px 20px;
}
.elisc_tm_modalbox .infos .job {
  display: inline-block;
}
.elisc_tm_modalbox .infos .job span {
  display: inline-block;
  margin-bottom: 5px;
  opacity: 0.8;
}
.elisc_tm_modalbox .infos .job h3 {
  font-size: 25px;
}
.elisc_tm_experience .popup_image {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: -11;
}
.elisc_tm_portfolio .hidden_content_portfolio {
  display: none;
}
.elisc_tm_experience .hidden_details {
  display: none;
}
.elisc_tm_services .hidden_details {
  display: none;
}
.elisc_tm_news .news_hidden_details {
  display: none;
}
.elisc_tm_services .popup_image {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: -11;
}
.elisc_tm_news .popup_image {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: -11;
}
@media (max-width: 1600px) {
  .elisc_tm_modalbox .box_inner {
    width: 800px;
  }
  .elisc_tm_modalbox .description_wrap {
    padding: 40px;
  }
  .elisc_tm_modalbox .description_wrap:before {
    height: 40px;
  }
  .elisc_tm_modalbox .description_wrap:after {
    height: 40px;
  }
  .elisc_tm_modalbox .close {
    margin-left: 20px;
  }
}
@media (max-width: 1040px) {
  .elisc_tm_modalbox .box_inner {
    width: 600px;
    top: 50px;
    bottom: 50px;
  }
  .elisc_tm_modalbox .description_wrap {
    padding: 30px;
  }
  .elisc_tm_modalbox .description_wrap:before {
    height: 30px;
  }
  .elisc_tm_modalbox .description_wrap:after {
    height: 30px;
  }
  .elisc_tm_modalbox .main_details {
    flex-direction: column;
  }
  .elisc_tm_modalbox .main_details .textbox {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .elisc_tm_modalbox .main_details .detailbox {
    width: 100%;
    padding-left: 0;
  }
  .elisc_tm_modalbox .close a {
    width: 30px;
    height: 30px;
  }
  .elisc_tm_modalbox .close {
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .elisc_tm_modalbox .box_inner {
    width: 300px;
    top: 40px;
    bottom: 40px;
  }
  .elisc_tm_modalbox .description_wrap {
    padding: 30px 25px 25px;
  }
  .elisc_tm_modalbox .description_wrap:before {
    height: 30px;
  }
  .elisc_tm_modalbox .description_wrap:after {
    height: 25px;
  }
  .elisc_tm_modalbox .close {
    margin-left: auto;
    left: auto;
    right: 25px;
    top: 15px;
  }
  .elisc_tm_modalbox .close a {
    color: #000;
    width: auto;
    height: auto;
    border: none;
    font-size: 20px;
  }
  .elisc_tm_modalbox .infos .job h3 {
    font-size: 19px;
  }
  .elisc_tm_modalbox .infos .year span {
    padding: 2px 15px;
  }
  .elisc_tm_modalbox .infos .year {
    margin-bottom: 15px;
  }
  .elisc_tm_modalbox .infos {
    margin-bottom: 15px;
  }
  .elisc_tm_modalbox .main_title h3 {
    font-size: 19px;
  }
  .elisc_tm_modalbox .main_title {
    margin-bottom: 10px;
  }
  .elisc_tm_modalbox .portfolio_main_title h3 {
    font-size: 19px;
  }
  .elisc_tm_modalbox .portfolio_main_title {
    margin-bottom: 15px;
  }
  .elisc_tm_modalbox .additional_images ul {
    margin: 0;
  }
  .elisc_tm_modalbox .additional_images ul li {
    width: 100% !important;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .elisc_tm_modalbox .news_popup_informations .title h3 {
    font-size: 19px;
  }
  .elisc_tm_modalbox .news_popup_informations .title {
    margin-bottom: 15px;
  }
}
